.cardTodoList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--space-3);
  border: 2px solid rgb(var(--color-muted));
  border-radius: var(--radius-lg);
  row-gap: var(--space-1);
}

.title {
  align-self: center;
}

.inputTodo {
  border: 1px solid rgb(var(--color-foreground));
  border-radius: var(--radius-md);
  margin-top: var(--space-1);
  padding: var(--space-2);
  width: 85%;
  font-family: inherit;
  align-self: center;
  font-size: var(--font-xs);
}

.inputTodo:focus {
  outline: none;
  border-color: rgb(var(--color-muted));
}

.inputTodo::placeholder {
  font-style: italic;
  font-family: inherit;
  font-size: var(--font-xs);
  opacity: 0.7;
}

.todoInput {
  border: 1px solid rgb(var(--color-foreground));
  border-radius: var(--radius-sm);
  padding: var(--space-1);
  width: 90%;
  font-family: inherit;
  font-weight: 450;
}

.todoInput:focus {
  outline: none;
  border-color: rgb(var(--color-muted));
}

.shake {
  animation: shake 0.3s ease;
  border-color: var(--color-shake);
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-6px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}

.todoList {
  margin-top: var(--space-4);
  margin-left: var(--space-1);
  display: flex;
  flex-direction: column;
  row-gap: var(--space-4);
  width: 98%;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.todoLeft {
  display: flex;
  align-items: center;
  width: 70%;
}

.todoRight {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--space-2);
}

.todoButton {
  all: unset;
  transition: color 0.1s linear;
}

.todoButton:hover {
  color: rgb(var(--color-muted));
  transition: color 0.1s linear;
}

.checkboxTodo {
  width: 1rem;
  height: 1rem;
  accent-color: var(--color-accent);
  cursor: pointer;
}

.completedTodo {
  color: rgb(var(--color-muted));
  opacity: 0.6;
  transition: all 0.5s ease;
}

.unfinishedTodo {
  transition: all 0.5s ease;
}
