.clockTimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--space-3);
  padding: var(--space-3);
}

.clockButtons {
  display: flex;
  column-gap: var(--space-4);
  justify-content: center;
  align-items: center;
}

.clockTimerTop {
  display: flex;
  column-gap: var(--space-5);
  justify-content: center;
  align-items: center;
}

.topButton {
  all: unset;
  cursor: pointer;
  font-size: var(--font-xs);
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.topButton:hover {
  color: rgb(var(--color-muted));
}

.playButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.circleContainer {
  border: 1px solid rgb(var(--color-foreground));
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopSquare {
  background-color: rgb(var(--color-foreground));
  width: 0.375rem;
  height: 0.375rem;
  opacity: 0;
  transform: scale(0);
  transition: all 0.25s linear;
}

.visible {
  opacity: 1;
  transform: scale(1);
}

.counterContainer {
  display: flex;
  align-items: center;
  column-gap: var(--space-3);
  width: 25rem;
  margin-bottom: var(--space-1);
}

.todayStat {
  flex: 1;
  text-align: right;
}

.allTimeStat {
  flex: 1;
  text-align: left;
}

.divider {
  height: 0.75rem;
  width: 1px;
  background-color: rgb(var(--color-muted));
  opacity: 0.6;
}
